<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlC6AOWtXnlpJ01YBzONIk8nB3qAFsCn0</string>
	<key>GCM_SENDER_ID</key>
	<string>492824331275</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stepsTracker</string>
	<key>PROJECT_ID</key>
	<string>steps-tracker-af8dc</string>
	<key>STORAGE_BUCKET</key>
	<string>steps-tracker-af8dc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492824331275:ios:f1112428639a4495f2730e</string>
</dict>
</plist>